<table class="table table-hover table-bordered table-condensed">
    <caption class="h3" style="color: lightgray">Время посещения с 7-00 до 16-00</caption>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена для Всех(бел. руб.)</th>
        <th>Для студентов дневного отделения (бел. руб)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Разовое посещение</td>
        <td>6,00 р.</td>
        <td>5,00 р.</td>
    </tr>
    <tr>
        <td>Абонемент на 4 занятия </td>
        <td>22,00 р.</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Абонемент на 8 занятия </td>
        <td>37,90 р.</td>
        <td>29,90 р.</td>
    </tr>
    <tr>
        <td>Абонемент на 12 занятий </td>
        <td>44,90 р.</td>
        <td>34,90 р.</td>
    </tr>
    </tbody>
</table>
<table class="table table-hover table-bordered table-condensed">
    <caption class="h3" style="color: lightgray">Время посещения с 7-00 до 23-00</caption>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена для Всех(бел. руб.)</th>
        <th>Для студентов дневного отделения (бел. руб)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Разовое посещение</td>
        <td>7,50 р.</td>
        <td>6,00 р.</td>
    </tr>
    <tr>
        <td>Абонемент на 4 занятия </td>
        <td>27,90 р.</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Абонемент на 8 занятия </td>
        <td>39,90 р.</td>
        <td>49,90 р.</td>
    </tr>
    <tr>
        <td>Абонемент на 12 занятий </td>
        <td>59,90 р.</td>
        <td>44,90 р.</td>
    </tr>
    </tbody>
</table>
<table class="table table-hover table-bordered table-condensed">
    <caption class="h3" style="color: lightgray">Тренировка с профессиональным тренером</caption>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена (бел. руб.)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Персональная консультация</td>
        <td>15,00 р.</td>
    </tr>
    <tr>
        <td>Консультация в паре (СПЛИТ-2) </td>
        <td>20,00 р.</td>
    </tr>
    <tr>
        <td>Консультация троем  (СПЛИТ-3)</td>
        <td>25,00 р.</td>
    </tr>
    </tbody>
</table>